@* @model List<Measurement>

@{
    ViewData["Title"] = "Measurements";
}
 *@

<h1>Welcome to my page</h1>

<div class="mb-2">
    <a asp-controller="Measurement" asp-action="Add">Add Measurement</a>
    <a asp-controller="Measurement" asp-action="AllMeasurement">All Measurement</a>
</div>
